{% extends "base.html" %}
{% block content %}
 <br>
<br>
  <img class="w3-image" src="../static/P2P-Lending.jpg" alt="Architecture" width="1500" height="800"> <cite>Figure from https://www.financemagnates.com/fintech/p2p/orca-launch-new-ratings-service-p2p-investing-platforms/</cite>
<br>
<br>
<div align = "center"> <h1>Welcome </h1> 
<p>Many people have money sitting in a bank account seek ways to invest. Comparing to the rather unstable stock market, Peer to Peer(P2P) would be a great choice. P2P lending is the method of lending money to individuals or businesses through online services. On the investor's side, the investment return is much higher than bank CD account, and much safer than stock market. </p>

<p>I used data sets from the two industry lead companies: Prosper and Lending Club.  I analyzed the P2P lending data for the past 10 years and run feature engineering and feature selection to construct a regression model to predict the interest rate of a given loan. On the investors’ side, I also developed a model to classifier whether a loan will be paid off on time or not as well as the risk associated to the loan. With my product, investors can make safer and more predicted investment. </p>


  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">I would like to:</h3>
           <a href="/project">
      <button class="w3-button w3-black w3-section" >
        <i class="fa fa-paper-plane"></i> Predict My Investment Risk  
      </button></a>

       <a href="/model">
      <button class="w3-button w3-black w3-section" >
        <i class="fa fa-paper-plane"></i> Learn About The Model
      </button></a>
             <a href="/about">
      <button class="w3-button w3-black w3-section">
        <i class="fa fa-paper-plane"></i> Learn About Jianlei Chen 
      </button></a>

</div>


<br>
<br>
<br>

<div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
            <p><b><i class="fa fa-user w3-margin-right"></i>Prosper</b></p><br>
            <a herf= "https://www.lendingclub.com/">
      <img src="../static/prosper_logo.jpg" class="w3-round w3-image" alt="Prosper logo" width="300" height="300">
</a>
    </div>

    <!-- Hide this text on small devices -->

    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Lending Club</b></p><br>
      <a herf = "https://www.prosper.com/">
      <img src="../static/Lending_Club_logo.jpg" class="w3-round w3-image" alt="Lending Club logo" width="300" height="300">
</a>
    </div>
  </div>

<div align = "center">
<h1 >About Peer to Peer Lending </h1> 
<p> When borrowers apply for loan, lending club and prosper assigns a grade, and each grade has its corresponding interest rate. Prosper offer grade: AA, A, B, C, D, E. and lending club offer grade: A, B, C, D, E, F, G. Note that the letter grade across the two lending company might not be directly comparable. </p>
</div>
<br>
<h1 >Grade vs Interest Rate </h1> 
<div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
<div class="bk-root">
    <div class="bk-plotdiv" id="92c8ac76-9823-46fa-8deb-fd1a7afdcaff"></div>
</div>
<script src="../static/prosper_script_GvsI.js"></script>   
    </div>

    <!-- Hide this text on small devices -->

    <div class="w3-col m6 w3-hide-small w3-padding-large">
<div class="bk-root">
    <div class="bk-plotdiv" id="3bf50cf8-bc7d-4b9c-a4cc-6daa6aa70e78"></div>
</div>
<script src="../static/Lending_club_script_GvsI.js"></script>   
    </div>
  </div>






<h1 >Both Prosper and Lending Club Covers most part of the country, from the borrowers’ side, we see that California is a big borrowers' state, and Iowa is the smallest borrowers' state. However, on the investors' side, some states have restrictions more than other. Currently Lending Club have more geographical coverage</h1>
<div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
<div class="bk-root">
    <div class="bk-plotdiv" id="df3d4bb0-e2e4-45c7-929f-74cdfbe1002d"></div>
</div>
<script src="../static/Prosper_map.js"></script>      
    </div>
</div>
    <!-- Hide this text on small devices -->

    <div class="w3-col m6 w3-hide-small w3-padding-large">

<div class="bk-root">
    <div class="bk-plotdiv" id="c0d2b16b-5e5b-4f89-8c87-c88aa8a1441e"></div>
</div>
<script src="../static/Lending_club_map.js"></script>   
    </div>
  



<!--- Prosper lending map-->



<!--- prosper home ownership

-->

<div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">

<div class="bk-root">
    <div class="bk-plotdiv" id="db5e6b31-fdae-4ce8-bf1b-25e7b0249593"></div>
</div>
<script src="../static/prosper_script_HvsI.js"></script>
    </div>

    <!-- Hide this text on small devices -->

    <div class="w3-col m6 w3-hide-small w3-padding-large">
<div class="bk-root">
    <div class="bk-plotdiv" id="b62d3095-0b0e-44fd-ba94-907742d9ee1e"></div>
</div>
<script src="../static/Lending_club_script_HvsI.js"></script>
    </div>
  </div>


<!--

  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">

<div class="bk-root">
    <div class="bk-plotdiv" id="41d5c75b-444d-41fd-b919-3da8b892f386"></div>
</div>
<script src="../static/prosper_script_TvsI.js"></script>
    </div>

    

    <div class="w3-col m6 w3-hide-small w3-padding-large">
<div class="bk-root">
    <div class="bk-plotdiv" id="ef1d6a0d-abde-48a7-9720-a22d50832c15"></div>
</div>
<script src="../static/Lending_club_script_TvsI.js"></script>

    </div>
  </div>
-->



    
  </div>

{% endblock %}