{% extends "base.html" %}
{% block content %}
<br>
<br>
  <!-- Project Section -->
<h2 class="w3-center">Predict Current Loans</h2>
<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide"></span>
  </div>
</div>


{% if status.code==1 %}

    {{ plot.script|indent(4)|safe }}
 {% endif %}

{% if status.code==1 %} 
<div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">

 
<div class="w3-center">
          {{ plot.div|indent(4)|safe }}
    </div>
</div>
    <!-- Hide this text on small devices -->

    <div class="w3-col m6 w3-hide-small w3-padding-large">
            <div class="bk-root">
    <div class="bk-plotdiv w3-center" id="229fa230-8cad-41de-bda4-2680464bdac4"></div>
    <script src="../static/Lending_club_life.js"></script>  
    </div> 
</div>
</div>

<div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">

 
<div class="w3-center">
 <div class="bk-root w3-center">
    <div class="bk-plotdiv" id="caa6c04d-4389-4071-8d76-60ae9b4438fb"></div>
</div>

</div>
<script src="../static/Lending_club_loan_performance.js"></script>    
    </div>
</div>
    <!-- Hide this text on small devices -->

    <div class="w3-col m4 w3-hide-small w3-padding-large">
           
     <div class="bk-root">
    <div class="bk-plotdiv" id="3bf50cf8-bc7d-4b9c-a4cc-6daa6aa70e78"></div>
</div>
<script src="../static/Lending_club_chargeoff.js"></script>    
</div>
</div>

 {% endif %}  
 











<div class="w3-container w3-padding-32" id="current_loan">

    
  <div class="w3-container w3-padding-32" >
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Please input current 3 year loan feature</h3>
   
    <form id='input' action="{{ url_for('project') }}" method=get>
      <p> Company: <input class="w3-input w3-border" type="text" placeholder="Prosper/ Lending Club" name="company"></p>
      <p> Grade: <input class="w3-input w3-section w3-border" type="text" placeholder="grade" required name="grade"> </p>
      <p> Days Paid Off: <input class="w3-input w3-section w3-border" type="number" placeholder="# of days paid off" required name="days"> </p>
      <button class="w3-button w3-black w3-section" type="submit"  value="submit2" >
        <i class="fa fa-paper-plane"></i> Predict
      </button>
    </form>

  </div>


</div>


<!--
  <div class="w3-container w3-padding-32" >
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
    
Please input new loan feature</h3>
   
    <form id='input' action="{{ url_for('project') }}" method=get>
      <p> Company: <input class="w3-input w3-border" type="text" placeholder="Prosper/ Lending Club" name="company"></p>
      <p> Loan Amount: <input class="w3-input w3-border" type="number" placeholder="Loan Amount" name="amount"></p>
      <p> Annual Income: <input class="w3-input w3-section w3-border" type="number" placeholder="Income"  name="income"> </p>
      <p> Total Number Of Accounts: <input class="w3-input w3-section w3-border" type="number" placeholder="Total Account Number" name="total_acc"></p>
      <p> FICO: <input class="w3-input w3-section w3-border" type="number" placeholder="FICO"  name="fico"> </p>
      <p> Term: <input class="w3-input w3-section w3-border" type="number" placeholder="36/60"  name="term"> </p>
      <p> Interest Rate: <input class="w3-input w3-section w3-border" type="number" placeholder="Interest Rate"  name="int_rate"> </p>
      <p> Credit Length: 
      <input class="w3-input w3-section w3-border" type="number" placeholder="Number Of Days"  name="Credit_L"> </p>
      <p> Home Ownership: <input class="w3-input w3-section w3-border" type="number" placeholder="1 = YES/ 0 = NO"  name="home"> </p>



      <button class="w3-button w3-black w3-section" type="submit"  value="Submit" >
        <i class="fa fa-paper-plane"></i> Predict
      </button>
    </form>

  </div>
-->






  <div >
<!-- <h3 id = "new_risk"></h3>  onclick="myFunction()" -->
 <script>
function myFunction() {
    document.getElementById("demo").innerHTML = "This loan is: Good. Chargeoff Risk: 5% ";
}
</script>

  </div>




  

 
{% endblock %}